* {
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    padding: 10px;
}

body {
    display: block;
    background-color: #7d7d7d;
}

h1 {
    text-align: center;
    padding: 20px;
}

h2,
h3,
h5 {
    color: #c3c3c3;
    text-align: center;
    margin: 0;
}

h3 {
    text-align: center;
    padding: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
}

.wrapper_main {
    display: grid;
    grid-template-rows: 9rem 9rem 10rem 10rem;
    grid-template-columns: 1fr 450px;
    grid-template-areas:
        'h h'
        'hf hf'
        'ml mr'
        'ml mr'
        'ml mr'
        'ml mr'
        'ml mr'
        'f f';
    width: 900px;
    padding: 0;
    margin: 0 auto;
    background-color: #ffffff;
}

.wrapper_headers_first {
    display: flex;
    position: relative;
    flex-direction: row;
    grid-area: h;
    width: 900px;
    padding: 0;
    margin: 0 auto;
    background: #d7d7d7;
    align-items: center;
}

.user_photo {
    display: block;
    width: 250px;
    height: 250px;
    position: absolute;
    right: 67%;
    top: 25%;
    margin: 0 auto;
    border-radius: 50%;
}

.user_vlad {
    position: absolute;
    right: 23%;
    top: 75%;
    padding: 0;
    margin: 0 auto;
}

.wrapper_headers_second {
    width: 900px;
    grid-area: hf;
    padding: 0;
    margin: 0 auto;
    background: #ffffff;
}

.user,
.user_vlad {
    text-transform: uppercase;
    font-style: normal;
}

.user_spec,
.user_location {
    padding: 0;
    margin: 0;
}

.wrapper_content_first {
    grid-area: ml;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid #d7d7d7;
}

.lang,
.code,
.skills,
.contacts {
    width: 100%;
}

.inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inner ul {
    padding: 0;
    margin: 0 auto;
}

.inner ul:first-child {
    padding-right: 45px;
}

.inner ul:last-child {
    padding-left: 45px;
}

.contacts {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.contacts_item {
    color: #000000;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.contacts_item a {
    text-decoration: none;
    color: #455db0;
}

